.footer {
    background-color: var(--primary);
    color: var(--white);
    padding: 25px 30px;

    font-size: 16px;
    line-height: 20px;
    display: grid;
    gap: 10px 40px;
    grid-template-columns: 1fr auto auto;
}

.footer a:hover {
    color: var(--gray-ligth);
}

@media (max-width: 765px) {
    .footer {
        grid-template-columns:1fr;
        text-align: center;
    }
}